*{
    list-style: none;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.contenedor{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
button[type="button"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button[type="button"]{
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #0056b3;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

tr:nth-child(even){
    background-color: #f9f9f9;
}